html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  color: #666;
  margin: 0px;
  padding: 0px;
  line-height: 24px;
  background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6, ul, li, dl, dd, dt, form {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

img {
  border: none;
}

a:link {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

a:active {
  color: #666;
  text-decoration: none;
}

.clear {
  clear: both;
}

i, s {
  font-style: normal;
}

button, textarea, input, select {
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ababab;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ababab;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ababab;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ababab;
}

.oe_design {
  width: 100%;
  height: 100%;
  position: relative;
}

.oe_design .aside_menu {
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #001529;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
          box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 10;
}

.oe_design .aside_menu .logo {
  padding: 0 15px;
  line-height: 64px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.oe_design .aside_menu dt {
  padding: 0 34px;
  height: 40px;
  margin: 4px 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 40px;
  text-overflow: ellipsis;
  color: #fff;
  position: relative;
}

.oe_design .aside_menu .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  line-height: normal;
  margin-top: -10px;
}

.oe_design .aside_menu .arrow svg {
  width: 20px;
  height: 20px;
  display: block;
}

.oe_design .aside_menu ul {
  background-color: #000c17;
}

.oe_design .aside_menu ul li {
  height: 40px;
  margin: 4px 0;
  padding: 0 16px;
  overflow: hidden;
  font-size: 14px;
  line-height: 40px;
  text-overflow: ellipsis;
  padding: 0 16px 0 48px;
  cursor: pointer;
  color: #c1c1c1;
}

.oe_design .aside_menu ul li.current {
  color: #fff;
  background-color: #1890ff;
}

.oe_design .header {
  height: 64px;
  position: absolute;
  top: 0;
  left: 220px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
          box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  z-index: 10;
}

.oe_design .content {
  position: absolute;
  top: 54px;
  left: 220px;
  right: 0;
  bottom: 0;
  background-color: #f0f2f5;
}

.oe_design .content iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.oeui_breadcrumb {
  padding: 12px 24px;
  background-color: #fff;
  font-size: 0;
  line-height: normal;
}

.oeui_breadcrumb .link {
  color: #999;
  font-size: 14px;
}

.oeui_breadcrumb .separator {
  color: #999;
  font-size: 14px;
  margin: 0 6px;
}

.oeui_breadcrumb .text {
  color: #666;
  font-size: 14px;
}

.oeui_content {
  background-color: #fff;
  margin: 20px;
  padding: 15px;
}

.oeui_tip {
  background-color: #333;
  padding: 5px 8px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: 100000;
}

.oeui_tip i {
  width: 0;
  height: 0;
  position: absolute;
}

.oeui_tip.top i {
  left: 50%;
  bottom: -11px;
  margin-left: -6px;
  border: 6px solid #333;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.oeui_tip.right i {
  top: 50%;
  left: -11px;
  margin-top: -6px;
  border: 6px solid #333;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.oeui_tip.bottom i {
  left: 50%;
  top: -11px;
  margin-left: -6px;
  border: 6px solid #333;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.oeui_tip.left i {
  top: 50%;
  right: -11px;
  margin-top: -6px;
  border: 6px solid #333;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.oeui_msg {
  width: 100%;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
}

.oeui_msg .msg_item {
  text-align: center;
  pointer-events: none;
  position: relative;
}

.oeui_msg .msg_item + .msg_item {
  padding-top: 15px;
}

.oeui_msg .msg_item .box {
  display: inline-block;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 15px 10px 45px;
  position: relative;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  pointer-events: all;
}

.oeui_msg .msg_item .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  line-height: normal;
}

.oeui_msg .msg_item .icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.oeui_msg .msg_item .text {
  color: #666;
}

.oeui_msg .msg_tip {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 20px;
  border-radius: 2px;
  z-index: 1000;
  pointer-events: all;
  margin-top: -24px;
}

.oeui_msg .msg_tip .text {
  font-size: 14px;
  color: #fff;
}

.msg_enter {
  -webkit-animation: msg_enter 300ms ease;
          animation: msg_enter 300ms ease;
}

@-webkit-keyframes msg_enter {
  0% {
    opacity: 0;
    margin-top: -44px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes msg_enter {
  0% {
    opacity: 0;
    margin-top: -44px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.msg_leave {
  animation: msg_enter 300ms ease reverse;
}

.msg_zoom_enter {
  -webkit-animation: msg_zoom_enter 200ms ease;
          animation: msg_zoom_enter 200ms ease;
}

@-webkit-keyframes msg_zoom_enter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes msg_zoom_enter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.msg_zoom_leave {
  animation: msg_zoom_enter 200ms ease reverse;
}

.oeui_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.oeui_modal .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.oeui_modal .wrap {
  width: 416px;
  padding: 32px 32px 24px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
}

.oeui_modal .wrap .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.oeui_modal .wrap .icon svg {
  width: 100%;
  height: 100%;
  display: block;
}

.oeui_modal .wrap .title h3 {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.oeui_modal .wrap .content {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.oeui_modal .wrap .btn_group {
  text-align: right;
  margin-top: 24px;
}

.oeui_modal .wrap .btn_group button {
  border: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  margin-left: 10px;
  line-height: normal;
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 2px;
}

.oeui_modal .wrap .btn_group button.confirm {
  border-color: #1890ff;
  background-color: #1890ff;
  color: #fff;
}

.oeui_modal .wrap .btn_group button.cancel:hover {
  border-color: #1890ff;
  color: #1890ff;
}

.oeui_modal .dialog {
  width: 520px;
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.oeui_modal .dialog .header {
  padding: 15px 20px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  cursor: move;
}

.oeui_modal .dialog .header h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  user-select: none;
  -webkit-user-select: none;
}

.oeui_modal .dialog .header .action {
  position: absolute;
  top: 10px;
  right: 10px;
}
.oeui_modal .dialog .header .scale{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  cursor: pointer;
}
.oeui_modal .dialog .header .scale .oeui-chuangkoufangda{
  font-size: 20px;
  color: #666;
}
.oeui_modal .dialog .header .scale .oeui-chuangkouyoubian-fenping{
  font-size: 16px;
  color: #666;
  display: none;
}
.oeui_modal .dialog .header .close{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  cursor: pointer;
}
.oeui_modal .dialog .header .close svg {
  width: 22px;
  height: 22px;
  display: block;
}

.oeui_modal .dialog .body {
  padding: 20px;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.oeui_modal .dialog .body iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/loading.gif) no-repeat 50% 50%;
}

.oeui_modal .dialog .footer {
  text-align: right;
  padding: 24px;
}

.oeui_modal .dialog .footer button {
  border: 0;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  margin-left: 10px;
  line-height: normal;
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 2px;
}

.oeui_modal .dialog .footer button.confirm {
  border-color: #1890ff;
  background-color: #1890ff;
  color: #fff;
}

.oeui_modal .dialog .footer button.cancel:hover {
  border-color: #1890ff;
  color: #1890ff;
}

@-webkit-keyframes modal_content_enter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes modal_content_enter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal_content_enter {
  -webkit-animation: modal_content_enter 200ms ease;
          animation: modal_content_enter 200ms ease;
}

.modal_content_leave {
  animation: modal_content_enter 200ms ease reverse;
}

@-webkit-keyframes modal_mask_enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal_mask_enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal_mask_enter {
  -webkit-animation: modal_mask_enter 200ms ease;
          animation: modal_mask_enter 200ms ease;
}

.modal_mask_leave {
  animation: modal_mask_enter 200ms ease reverse;
}

.oeui_select {
  width: 100%;
  position: relative;
}

.oeui_select::after {
  content: ' ';
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}

.oeui_select.focusin {
  z-index: 10000!important;
}

.oeui_select.focusin .selection {
  color: #999 !important;
}

.oeui_select.focusin .selector {
  border-color: #1890ff;
}

.oeui_select .selector {
  border: 1px solid #d9d9d9;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  z-index: 10;
  border-radius: 2px;
}

.oeui_select .selector:hover {
  border-color: #1890ff;
}

.oeui_select .selector .selection {
  display: block;
  padding: 0 30px 0 10px;
  line-height: 30px;
  color: #999;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

.oeui_select .selector .selection.current {
  color: #333;
}

.oeui_select .selector .icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.oeui_select .selector .icon svg {
  width: 20px;
  height: 20px;
  display: block;
}
/* .oeui_select .selector .icon em {
  color: #999;
  line-height: normal;
} */

.oeui_select .dropdown {
  width: 100%;
  position: absolute;
  top: 34px;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 5px 0;
  display: none;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  max-height: 300px;
  overflow-y: auto;
}

.oeui_select .dropdown .option {
  padding: 0 10px;
  line-height: 32px;
  color: #666;
  cursor: pointer;
}

.oeui_select .dropdown .option:hover {
  background-color: #f5f5f5;
}

.oeui_select .dropdown .option.selected {
  color: #333;
  background-color: #dceeff;
}

.oeui_select .dropdown .option:not([data-val]) {
  color: #999;
}

@-webkit-keyframes select_enter {
  0% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes select_enter {
  0% {
    -webkit-transform: scaleY(0.8);
            transform: scaleY(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.select_enter {
  -webkit-animation: select_enter 100ms ease;
          animation: select_enter 100ms ease;
}

.select_leave {
  animation: select_enter 100ms ease reverse;
}

.oeui_radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 22px;
  font-size: 0;
  cursor: pointer;
}

.oeui_radio label {
  display: block;
  cursor: pointer;
}
.oeui_radio[disable] label {
  cursor: not-allowed;
}
.oeui_radio[disable="false"] label {
  cursor: pointer;
}

.oeui_radio + .oeui_radio {
  margin-left: 10px;
}

.oeui_radio input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
  display: none;
}

.oeui_radio .radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
}

.oeui_radio .radio span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: #1890ff;
  display: none;
}

.oeui_radio .text {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.oeui_radio:hover .radio {
  border-color: #1890ff;
}

.oeui_radio.checked .radio {
  border-color: #1890ff;
}

.oeui_radio.checked .radio span {
  display: block;
}

@-webkit-keyframes check_radio {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes check_radio {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.check_radio {
  -webkit-animation: check_radio 100ms linear;
          animation: check_radio 100ms linear;
}

.oeui_checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 22px;
  font-size: 0;
}

.oeui_checkbox + .oeui_checkbox {
  margin-left: 10px;
}

.oeui_checkbox label {
  cursor: pointer;
}
.oeui_checkbox[disable] label {
  cursor: not-allowed;
}
.oeui_checkbox[disable="false"] label {
  cursor: pointer;
}

.oeui_checkbox .checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.oeui_checkbox .checkbox .icon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: relative;
}

.oeui_checkbox .checkbox .icon svg {
  width: 100%;
  height: 100%;
  display: none;
}
.oeui_checkbox .checkbox .icon .oeuifont {
  line-height: normal;
  font-size: 14px;
  color: #fff;
}

.oeui_checkbox .checkbox input {
  display: none;
}

.oeui_checkbox .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 8px;
}

.oeui_checkbox:hover .checkbox {
  border-color: #1890ff;
}

.oeui_checkbox.checked .checkbox {
  border-color: #1890ff;
  background-color: #1890ff;
}

.oeui_checkbox.checked .checkbox svg {
  display: block;
}
.oeui_checkbox.checked .checkbox .icon {
  display: block;
}

.oeui_switch {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.oeui_switch label {
  cursor: pointer;
  display: block;
}

.oeui_switch .switch {
  width: 44px;
  height: 22px;
  border-radius: 22px;
  position: relative;
  background: #bfbfbf;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  display: block;
  cursor: pointer;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
}

.oeui_switch .switch .circle {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
  -webkit-transition: left 100ms ease;
  transition: left 100ms ease;
}

.oeui_switch.checked .switch {
  background-color: #1890ff;
}

.oeui_switch.checked .switch .circle {
  left: 24px;
}

.oeui_btn {
  margin: 0;
  border: 1px solid #1890ff;
  color: #fff;
  background-color: #1890ff;
  border-radius: 2px;
  line-height: normal;
  padding: 4px 15px;
  line-height: 22px;
  cursor: pointer;
  position: relative;
}

.oeui_btn:hover {
  opacity: .8;
}

.oeui_btn + .oeui_btn {
  margin-left: 8px;
}

.oeui_btn.danger {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.oeui_btn.warning {
  background-color: #ffc40f;
  border-color: #ffc40f;
}

.oeui_btn.success {
  background-color: #24ce37;
  border-color: #24ce37;
}

.oeui_btn.gray {
  background-color: #a2a2a2;
  border-color: #a2a2a2;
}

.oeui_btn.light {
  background-color: #fff;
  border-color: #d9d9d9;
  color: #333;
}

.oeui_btn.link {
  border: #fff;
  background-color: #fff;
  color: #1890ff;
}

.oeui_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.oeui_input:focus {
  border-color: #1890ff;
}

.oeui_date_picker {
  position: absolute;
  top: 200px;
  left: 200px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 15px 15px 0 15px;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 10000;
}

.oeui_date_picker .header {
  position: relative;
  padding: 0 50px;
  text-align: center;
}

.oeui_date_picker .header .view {
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}

.oeui_date_picker .header .view span {
  cursor: pointer;
}

.oeui_date_picker .header .view span:hover {
  color: #1890ff;
}

.oeui_date_picker .header .btn_group {
  position: absolute;
  top: 0;
  font-size: 0;
}

.oeui_date_picker .header .btn_group.left {
  left: 0;
}

.oeui_date_picker .header .btn_group.right {
  right: 0;
}

.oeui_date_picker .header button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border;
          box-sizing: border;
  vertical-align: middle;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.oeui_date_picker .header button svg {
  width: 100%;
  height: 100%;
}

.oeui_date_picker .header button:hover svg {
  fill: #1890ff;
}

.oeui_date_picker .table_list {
  border-collapse: collapse;
}

.oeui_date_picker .table_list th {
  width: 42px;
  height: 42px;
  padding: 5px;
  color: #606266;
  font-weight: 500;
  border-bottom: 1px solid #ebeef5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
}

.oeui_date_picker .table_list td {
  width: 42px;
  height: 30px;
  padding: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #606266;
  font-size: 13px;
}

.oeui_date_picker .table_list td.prev {
  color: #ccc;
}

.oeui_date_picker .table_list td.next {
  color: #ccc;
}

.oeui_date_picker .table_list td.current span {
  background-color: #1890ff !important;
  color: #fff !important;
  border-radius: 30px;
  font-weight: 500;
}

.oeui_date_picker .table_list td.in_range div {
  background-color: #f2f6fc;
}

.oeui_date_picker .table_list td.start_range div {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 3px;
}

.oeui_date_picker .table_list td.start_range div span {
  position: relative;
  left: -3px;
}

.oeui_date_picker .table_list td.end_range div {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 3px;
}

.oeui_date_picker .table_list td.end_range div span {
  position: relative;
  right: -3px;
}

.oeui_date_picker .table_list td.distable {
  color: #999;
}

.oeui_date_picker .table_list td div {
  padding: 3px 0;
  text-align: center;
}

.oeui_date_picker .table_list td div span {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.oeui_date_picker .table_list td:hover span {
  font-weight: 500;
  color: #1890ff;
  background-color: #f5f5f5;
  border-radius: 30px;
}

.oeui_date_picker .table_list tfoot td {
  border-top: 1px solid #ebeef5;
}

.oeui_date_picker .table_list tfoot button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  background-color: #fff;
  line-height: 30px;
  color: #1890ff;
  cursor: pointer;
}

.oeui_date_picker .table_list.year td {
  width: 70px;
  height: auto;
  padding: 10px 0;
}

.oeui_date_picker .table_list.year td div span {
  width: auto;
  height: auto;
  padding: 5px 10px;
}

.oeui_date_picker .table_list.month td {
  width: 70px;
  height: auto;
  padding: 10px 0;
}

.oeui_date_picker .table_list.month td div span {
  width: auto;
  height: auto;
  padding: 5px 10px;
}

.oeui_time_picker {
  position: absolute;
  top: 200px;
  left: 200px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 10000;
}

.oeui_time_picker .body {
  overflow: hidden;
}

.oeui_time_picker .body .scroll {
  width: 60px;
  padding: 10px 0;
  float: left;
  text-align: center;
}

.oeui_time_picker .body .scroll .wrapper {
  position: relative;
}

.oeui_time_picker .body .scroll .wrapper::before {
  content: " ";
  position: absolute;
  top: 39px;
  left: 10px;
  right: 10px;
  border-top: 1px solid #e4e7ed;
}

.oeui_time_picker .body .scroll .wrapper::after {
  content: " ";
  position: absolute;
  bottom: 39px;
  left: 10px;
  right: 10px;
  border-top: 1px solid #e4e7ed;
}

.oeui_time_picker .body button {
  width: 100%;
  height: 32px;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.oeui_time_picker .body button svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}

.oeui_time_picker .body .wrapper {
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 112px;
  overflow: hidden;
}

.oeui_time_picker .body ul {
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
  -webkit-transition: -webkit-transform linear 300ms;
  transition: -webkit-transform linear 300ms;
  transition: transform linear 300ms;
  transition: transform linear 300ms, -webkit-transform linear 300ms;
}

.oeui_time_picker .body li {
  line-height: 32px;
  font-style: 14px;
  color: #999;
  cursor: pointer;
}

.oeui_time_picker .body li.current {
  font-weight: 500;
  color: #333;
}

.oeui_time_picker .footer {
  border-top: 1px solid #e4e4e4;
  text-align: right;
  padding: 3px;
}

.oeui_time_picker .footer button {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0 5px;
  line-height: 30px;
  cursor: pointer;
}

.oeui_time_picker .footer button.cancel {
  color: #999;
}

.oeui_time_picker .footer button.confirm {
  color: #1890ff;
}

@-webkit-keyframes date_picker_enter {
  0% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes date_picker_enter {
  0% {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.date_picker_enter {
  -webkit-animation: date_picker_enter 200ms ease;
          animation: date_picker_enter 200ms ease;
}

.date_picker_leave {
  animation: date_picker_enter 200ms ease reverse;
}


/*2020.08.04*/
.oe_loading{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.oe_loading .mask{
  width: 100%;
  height: 100%;
}
.oe_loading .loading{
  width: 200px;
  height:200px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  border-radius: 3px;
  text-align: center;
}
.oe_loading .loading .text{
  text-align: center;
  color: #fff;
}
@keyframes loading {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
.oe_loading .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  top: -14px;
}
.oe_loading .icon div {
  width: 2px;
  height:6px;
  background: #fff;
  position: absolute;
  left: 100%;
  top: 100%;
  opacity: 0.25;
  animation: loading 1.2s linear infinite;
  border-radius: 2px;
}
.oe_loading .icon .line1 {transform:rotate(0deg) translate(0, -8px);animation-delay: 0s;}
.oe_loading .icon .line2 {transform:rotate(30deg) translate(0, -8px);animation-delay: 0.1s;}
.oe_loading .icon .line3 {transform:rotate(60deg) translate(0, -8px);animation-delay: 0.2s;}
.oe_loading .icon .line4 {transform:rotate(90deg) translate(0, -8px);animation-delay: 0.3s;}
.oe_loading .icon .line5 {transform:rotate(120deg) translate(0, -8px);animation-delay: 0.4s;}
.oe_loading .icon .line6 {transform:rotate(150deg) translate(0, -8px);animation-delay: 0.5s;}
.oe_loading .icon .line7 {transform:rotate(180deg) translate(0, -8px);animation-delay: 0.6s;}
.oe_loading .icon .line8 {transform:rotate(210deg) translate(0, -8px);animation-delay: 0.7s;}
.oe_loading .icon .line9 {transform:rotate(240deg) translate(0, -8px);animation-delay: 0.8s;}
.oe_loading .icon .line10 {transform:rotate(270deg) translate(0, -8px);animation-delay: 0.9s;}
.oe_loading .icon .line11 {transform:rotate(300deg) translate(0, -8px);animation-delay: 1.0s;}
.oe_loading .icon .line12 {transform:rotate(330deg) translate(0, -8px);animation-delay: 1.1s;}

/*地区picker*/
.oeui_dist {
  width: 300px;
  position: relative;
}
.oeui_dist .selection{
  border: 1px solid #d9d9d9;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 50px 0 10px;
}
.oeui_dist .selection span{
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
}
.oeui_dist .selection span+span{
  margin-left: 3px;
  font-size: 14px;
}
.oeui_dist .selection span:hover{
  text-decoration: underline;
  color: #1890ff;
}
.oeui_dist .list{
  width: 482px;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  display: none;
}
.oeui_dist .tab{
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 15px;
}
.oeui_dist .tab_nav{
  font-size: 0;
  border-bottom: 1px solid #f1f1f1;
}
.oeui_dist .tab_nav .item{
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  padding: 6px 10px;
  cursor: pointer;
  position: relative;
}
.oeui_dist .tab_nav .item.current{
  color: #1890ff;
}
.oeui_dist .tab_nav .item.current::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #1890ff;
}
.oeui_dist .tab_content {
  padding-top: 10px;
}
.oeui_dist .tab_content .item{
  width: 87px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  line-height: 30px;
  font-size: 15px;
}
.oeui_dist .tab_content .item .box{
  display: inline-block;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 2px;
}
.oeui_dist .tab_content .item .box:hover{
  color: #1890ff;
}
.oeui_dist .tab_content .item .box.current{
  background-color: #1890ff;
  color: #fff;
}
.oeui_dist:hover .list{
  display: block;
}


/*  2021.07.19 */


.oe_pswp{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
}
.oe_pswp_bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 333ms linear;
}
.oe_pswp_wrap{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.oe_pswp_container{
  height: 100%;
  white-space: nowrap;
  font-size: 0;
}
.oe_pswp_item{
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.oe_pswp_zoom{
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4,0,0.22,1);
  transition: transform 333ms cubic-bezier(0.4,0,0.22,1);
}
.oe_pswp_zoom img{
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
.oe_pswp_loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.oe_pswp_loading svg{
  width: 50px;
  height: 50px;
}
.oe_pswp .tool{
  position: absolute;
  left: 50%;
  margin-left: -95px;
  background: rgba(103, 104, 108, .7);
  padding: 0 20px;
  border-radius: 44px;
  overflow: hidden;
  z-index: 100;
  bottom: 33px;
}
.oe_pswp .tool .btn{
  float: left;
  height: 44px;
  width: 44px;
  text-align: center;
  cursor: pointer;
  margin: 0 3px;
}
.oe_pswp .tool .btn em{
  color: #fff;
  font-size: 24px;
  line-height: 44px;
}
.oe_pswp .tool .btn.disabled{
  cursor: no-drop;
}
.oe_pswp .tool .btn.disabled em{
  color: #999;
}
.oe_pswp .prev{
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  left: 33px;
  background: rgba(103, 104, 108, .7);
  z-index: 100;
  cursor: pointer;
  text-align: center;
}
.oe_pswp .prev em{
  color: #fff;
  line-height: 44px;
  font-size: 18px;
}
.oe_pswp .next{
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 33px;
  background: rgba(103, 104, 108, .7);
  z-index: 100;
  cursor: pointer;
  text-align: center;
}
.oe_pswp .next em{
  color: #fff;
  line-height: 44px;
  font-size: 18px;
}

.oeui_birthday_picker{
  width: 100%;
  position: relative;
}
.oeui_birthday_picker .selection{
  border: 1px solid #d9d9d9;
  height: 38px;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 50px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.oeui_birthday_picker .selection span{
  display: inline-block;
  line-height: 38px;
  vertical-align: top;
  color: #999;
}
.oeui_birthday_picker .selection span.current{
  color: #333;
}
.oeui_birthday_picker .icon{
  position: absolute;
  right: 10px;
  top: 0;
}
.oeui_birthday_picker .icon em{
  line-height: 38px;
  color: #ccc;
}
.oeui_birthday_picker .list {
  width: 582px;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  display: none;
}
.oeui_birthday_picker .tab {
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 8px 15px 15px;
}
.oeui_birthday_picker .tab_nav {
  font-size: 0;
  border-bottom: 1px solid #f1f1f1;
}
.oeui_birthday_picker .tab_nav .item {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  padding: 6px 10px;
  cursor: pointer;
  position: relative;
}
.oeui_birthday_picker .tab_nav .item.current {
  color: #1890ff;
}
.oeui_birthday_picker .tab_nav .item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #1890ff;
}
.oeui_birthday_picker .tab_content {
  padding-top: 10px;
}
.oeui_birthday_picker .tab_content .content:first-child {
  min-height: 210px;
  display: block;
}
.oeui_birthday_picker .tab_content .content {
  min-height: 210px;
  display: none;
}
.oeui_birthday_picker .year .row{
  padding-left: 40px;
  position: relative;
  font-family: Arial;
  font-size: 0;
}
.oeui_birthday_picker .year .label{
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  color: #ccc;
  line-height: 32px;
  font-size: 14px;
}
.oeui_birthday_picker .year .item{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  padding: 0 8px;
  cursor: pointer;
  margin: 1px;
  font-size: 14px;
  border: 1px solid #fff;
}
.oeui_birthday_picker .year .item:hover{
  border: 1px solid #d8eafc;
  background-color: #f5faff;
}
.oeui_birthday_picker .month{
  font-size: 0;
}
.oeui_birthday_picker .month .item{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
  margin: 1px;
  font-size: 14px;
  border: 1px solid #fff;
}
.oeui_birthday_picker .month .item:hover{
  border: 1px solid #d8eafc;
  background-color: #f5faff;
}
.oeui_birthday_picker .date{
  font-size: 0;
}
.oeui_birthday_picker .date .item{
  text-align: center;
  width: 48px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  cursor: pointer;
  margin: 1px;
  font-size: 14px;
  border: 1px solid #fff;
}
.oeui_birthday_picker .date .item:hover{
  border: 1px solid #d8eafc;
  background-color: #f5faff;
}
.oeui_birthday_picker .tab_content .content .item.current{
  border: 1px solid #d8eafc;
  background-color: #f5faff;
}


