@charset "utf-8";
/**
 * [OElove] (C)2010-2099 oelove.com Inc.
 * Email: phpcoo@qq.com, service@phpcoo.com
 * This is not a freeware, use is subject to license terms
 * $LastTime 2020.09.8 Design by bo$
*/

body{font-size: 14px; color: #333; padding:0px; margin: 0px;background-color: #fff;}
h1,h2,h3,h4,p{font-weight: normal; padding:0px; margin: 0px;}
a:link{text-decoration: none; color:#333;}
a:visited{text-decoration: none;color:#333;}
a:hover{text-decoration: none;color:#ff382c; opacity: 0.8;}
.w0{width: 0;}
.w5{width: 5px;}
.w6{width: 6px;}
.w8{width: 8px;}
.w10{width: 10px;}
.w15{width: 15px;}
.w17{width: 17px;}
.w18{width: 18px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w40{width: 40px;}
.w45{width: 45px;}
.w48{width: 48px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w140{width: 140px;} 
.w150{width: 150px;} 
.w200{width: 200px;} 
.w300{width: 300px;}
.w400{width: 400px;}
.w500{width: 500px;}
.w600{width: 600px;}
.w1200{width: 1200px; margin:0 auto;}

.w14per{width: 14.28%;}
.w16per{width: 16.666%;}
.w20per{width: 20%;}
.w25per{width: 25%;}
.w30per{width: 30%;}
.w33per{width: 33.3333%;}
.w40per{width: 40%;}
.w45per{width: 45%;}
.w50per{width: 50%;}
.w60per{width: 60%;}
.w70per{width: 70%;}
.w80per{width: 80%;}
.w90per{width: 90%;}
.w100per{width: 100%;}
.mw100per{max-width: 100%;}
.min_w1200{min-width: 1200px;}

.h5{height: 5px;}
.h10{ height: 10px;}
.h15{height: 15px;}
.h18{height: 18px;}
.h20{height: 20px;}
.h24{height: 24px;}
.h28{height: 28px;}
.h30{height: 30px;}
.h32{height: 32px;}
.h35{height: 35px;}
.h36{height: 36px;}
.h40{height: 40px;}
.h42{height: 42px;}
.h45{height: 45px;}
.h48{height: 48px;}
.h50{height: 50px;}
.h60{height: 60px;}
.h70{height: 70px;}
.h80{height: 80px;}
.h90{height: 90px;}
.h100{height: 100px;}
.h150{height: 150px;}
.h196{height: 196px;}
.h200{height: 200px;}
.h250{height: 250px;}
.h300{height: 300px;}

.h100per{height: 100%;}

.pf{position:fixed;}
.pa{position:absolute;}
.pr{position:relative;}
.ps{position:static}

.pf_i{position:fixed!important;}
.pa_i{position:absolute!important;}
.pr_i{position:relative!important;}
.ps_i{position:static!important;}

.ltrb{left:0; top:0; right:0; bottom:0;}/*满屏*/
.ltb{left: 0; top: 0; bottom: 0;}
.rtb{right:0;top:0; bottom:0;}
.ltr{left:0; top:0; right:0;}  /*固定顶部*/
.lbr{left:0; bottom:0; right:0;} 
.lt{left:0; top:0;}
.rt{right:0;top:0;}
.rb{right:0; bottom:0;}
.lb{left:0; bottom:0;}
.brs{bottom:0; right:0;}

.t0{top: 0;}
.t1{top: 1px;}
.t2{top: 2px;}
.t3{top: 3px;}
.t4{top: 4px;}
.t5{top: 5px;}
.t6{top: 6px;}
.t7{top: 7px;}
.t8{top: 8px;}
.t10{top: 10px;}
.t15{top: 15px;}
.t18{top: 18px;}
.t20{top: 20px;}
.t48{top:  48px;}

.t0_i{top: 0 !important;}
.b0_i{bottom: 0 !important;}

.t50per{top:50%;}

.t_1{top: -1px;}
.t_2{top: -2px;}
.t_3{top: -3px;}
.t_5{top: -5px;}
.t_6{top: -6px;}
.t_10{top: -10px;}

.l0{left: 0;}
.l1{left: 1px;}
.l2{left: 2px;}
.l3{left: 3px;}
.l4{left: 4px;}
.l5{left: 5px;}
.l_1{left: -1px;}
.l_2{left: -2px;}
.l_3{left: -3px;}
.l_4{left: -4px;}
.l_5{left: -5px;}
.l15{left: 15px;}

.l50per{left: 50%;}

.l0_i{left: 0!important;}

.r0{right: 0;}
.r1{right: 1px;}
.r2{right: 2px;}
.r3{right: 3px;}
.r5{right: 5px;}
.r10{right: 10px;}
.r15{right: 15px;}
.r30{right: 30px;}
.r35{right: 35px;}
.r40{right: 40px;}
.r_10{right: -10px;}

.b0{bottom: 0;}
.b5{bottom: 5px;}
.b8{bottom: 8px;}
.b10{bottom: 10px;}
.b15{bottom: 15px;}
.b40{bottom: 40px;}
.b46{bottom: 46px;}

.b0_i{bottom: 0!important;}

.z100{z-index:100;}
.z200{z-index:200;}
.z300{z-index:300;}
.z400{z-index:400;}
.z500{z-index:500;}
.z600{z-index:600;}
.z1000{z-index:1000;}
.z2000{z-index:2000;}

.z100_i{z-index:100!important;}
.z200_i{z-index:200!important;}
.z300_i{z-index:300!important;}
.z400_i{z-index:400!important;}
.z500_i{z-index:500!important;}
.z600_i{z-index:600!important;}
.z1000_i{z-index:1000!important;}
.z2000_i{z-index:2000!important;}

.t_center{text-align:center;}
.t_right{text-align: right;}
.t_left{text-align: left;}

.transf_ali_center{left: 50%;transform: translateX(-50%);}
.transf_ali_middle{top: 50%;transform: translateY(-50%);}

.t_s{text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
  -webkit-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
  -moz-text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
  *filter: Glow(color=#fff, strength=1);}

.fl{float:left;}
.fr{float:right;}
.fnone{float: none;}
.fnone_i{float: none!important;}
.clearfix{overflow: hidden\8;}
.clearfix::after{content: " ";display: block;height: 0;clear: both;}


.p0{padding: 0;}
.p3{padding: 3px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p12{padding: 12px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p30{padding: 30px;}
.pn{padding: 0px;}
.ptb1{padding-top: 1px; padding-bottom: 1px;}
.ptb2{padding-top: 2px; padding-bottom: 2px;}
.ptb3{padding-top: 3px; padding-bottom: 3px;}
.ptb4{padding-top: 4px; padding-bottom: 4px;}
.ptb5{padding-top: 5px; padding-bottom: 5px;}
.ptb6{padding-top: 6px; padding-bottom: 6px;}
.ptb7{padding-top: 7px; padding-bottom: 7px;}
.ptb8{padding-top: 8px; padding-bottom: 8px;}
.ptb9{padding-top: 9px; padding-bottom: 9px;}
.ptb10{padding-top: 10px; padding-bottom: 10px;}
.ptb15{padding-top: 15px; padding-bottom: 15px;}
.ptb18{padding-top: 18px; padding-bottom: 18px;}
.ptb20{padding-top: 20px; padding-bottom: 20px;}

.plr3{padding-left: 3px; padding-right: 3px;}
.plr4{padding-left: 4px; padding-right: 4px;}
.plr5{padding-left: 5px; padding-right: 5px;}
.plr8{padding-left: 8px; padding-right: 8px;}
.plr10{padding-left: 10px; padding-right: 10px;}
.plr12{padding-left: 12px;padding-right: 12px;}
.plr15{padding-left: 15px; padding-right: 15px;}
.plr18{padding-left: 18px; padding-right: 18px;}
.plr20{padding-left: 20px; padding-right: 20px;}
.plr30{padding-left: 30px; padding-right: 30px;}
.plr40{padding-left: 40px; padding-right: 40px;}
.plr50{padding-left: 50px; padding-right: 50px;}
.plr80{padding-left: 80px; padding-right: 80px;}

.ptn{padding-top: 0;}
.pt3{padding-top: 3px;}
.pt4{padding-top: 4px;}
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt8{padding-top: 8px;}
.pt10{padding-top: 10px;}
.pt11{padding-top: 11px;}
.pt12{padding-top: 12px;}
.pt13{padding-top: 13px;}
.pt14{padding-top: 14px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt70{padding-top: 70px;}
.pt80{padding-top: 80px;}


.pr0{padding-right: 0;}
.pr8{padding-right: 8px;}
.pr10{padding-right: 10px;}

.pb0{padding-bottom: 0;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}

.pb_100per{padding-bottom: 100%;}

.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}
.pl45{padding-left: 45px;}
.pl50{padding-left: 50px;}
.pl55{padding-left: 55px;}
.pl60{padding-left: 60px;}
.pl70{padding-left: 70px;}
.pl75{padding-left: 75px;}
.pl80{padding-left: 80px;}
.pl90{padding-left: 90px;}
.pl100{padding-left: 100px;}
.pl110{padding-left: 110px;}
.pl120{padding-left: 120px;}
.pl130{padding-left: 130px;}
.pl140{padding-left: 140px;}
.pl150{padding-left: 150px;}
.pl180{padding-left: 180px;}
.pl200{padding-left: 200px;}
.pl300{padding-left: 300px;}

.pr0{padding-right: 0;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr60{padding-right: 60px;}
.pr70{padding-right: 70px;}
.pr80{padding-right: 80px;}
.pr90{padding-right: 90px;}
.pr100{padding-right: 100px;}
.pr110{padding-right: 110px;}
.pr150{padding-right: 150px;}


.m0{margin: 0;}
.m8{margin: 8px;}
.m10{margin: 10px;}
.m15{margin: 15px;}

.mto{margin:0 auto;}
.m0_a{margin: 0 auto;}

.mlr3{margin-left: 3px; margin-right: 3px;}
.mlr5{margin-left: 5px; margin-right: 5px;}
.mlr10{margin-left: 10px; margin-right: 10px;}
.mlr15{margin-left: 15px; margin-right: 15px;}
.ml_10{margin-left: -10px;}

.mtb10{margin: 10px 0;}

.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}

.mt_10{margin-top: -10px;}
.mt_11{margin-top: -11px;}

.mr0{margin-right: 0;}
.mr1{margin-right: 1px;}
.mr2{margin-right: 2px;}
.mr3{margin-right: 3px;}
.mr4{margin-right: 4px;}
.mr5{margin-right: 5px;}
.mr8{margin-right: 8px;}
.mr10{margin-right: 10px;}
.mr11{margin-right: 11px;}
.mr12{margin-right: 12px;}
.mr15{margin-right: 15px;}

.ml0{margin-left: 0;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}

.mb5{margin-bottom: 5px;}
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}

.mr5{margin-right: 5px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}

.bb_line{border-bottom:10px solid #f5f8fa;}

.oh{overflow: hidden;}
.ox{overflow-x: auto; white-space: nowrap;-webkit-overflow-scrolling: touch;}
.oy{overflow-y: auto; -webkit-overflow-scrolling: touch;}

.dc{display: flex; align-items:center; justify-content: center;}

.lhn{line-height: normal;}
.lh15{line-height: 15px;}
.lh18{line-height: 18px;}
.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
.lh24{line-height: 24px;}
.lh26{line-height: 26px;}
.lh28{line-height: 28px;}
.lh30{line-height: 30px;}
.lh32{line-height: 32px;}
.lh35{line-height: 35px;}
.lh36{line-height: 36px;}
.lh40{line-height: 40px;}
.lh42{line-height: 42px;}
.lh45{line-height: 45px;}
.lh48{line-height: 48px;}
.lh50{line-height: 50px;}
.lh60{line-height: 60px;}
.lh70{line-height: 70px;}
.lh80{line-height: 80px;}
.ds_hide{display: none!important;}

.color_f{color:#fff!important;}
.color_3{color:#333!important;}
.color_6{color:#666!important;}
.color_9{color:#999!important;}
.color_e5{color:#e5e5e5!important;}
.color_f40{color:#f40!important;}
.color_light{color:#d7d7d7!important;}
.color_m{color:#cccccc!important;}
.color_c{color:#cccccc!important;}
.color_main{color:#ff334c!important;}
.color_green{color:#13ca87!important;}
.color_tips{color:#ff8f4a!important;}
.color_name{color:#4d83cf!important;}
.color_yellow{color:yellow!important;}
.color_alipay{color:#40afff!important;}
.color_weixinpay{color:#13ca87!important;}
.color_cardpay{color:#14b2c9!important;}
.color_nan{color:#40afff!important;}
.color_nv{color:#ff89b5!important;}
.color_red{color: #ff382c!important;}
.color_blue{color:#0483e5!important;}
.color_ff0{color:#ff0000!important;}
.color_vip{color:#dab370;}
.color_ps{color:#7f91ac;}
.color_ye{color:#ffcc3a;}

.bg_f{background:#fff;}
.bg_fa{background: #fafafa;}
.bg_0{background:#000;}
.bg_f5{background:#f5f5f5;}
.bg_f6{background:#f6f6f6;}
.bg_f2{background:#f2f2f2;}
.bg_de{background:#dedede;}
.bg_red{background: #ff382c;}
.bg_f40{background: #f40;}
.bg_f7{background:#f7f7f7;}
.bg_fc{background:#fcfcfc;}
.bg_9{background: #999;;}
.bg_main{background: #ff334c;}
.bg_green{background: #13ca87;}
.bg_light{background: #f2f6ff;}
.bg_body{background:#f7f8fc;}
.bg_nan{background:#40afff;}
.bg_nv{background:#ff89b5;}
.bg_alipay{background:#40afff;}
.bg_vip{background:#fffbf5;}
.bg_span{background:#fafcff;}
.bgn{background: none!important;}
.bg_gao{background: #fcb63a;}
.bg_gray{background: #f2f6ff;}
.bg_tag{background: #f2f6ff;}
.bg_quan{background: #fff6f5;}
.bg_e{background: #eee;}
.bg_c{background: #ccc;}
.bg_tips{background: #fdc242;}

.bg_f_i{background:#fff!important;}
.bg_0_i{background:#000!important;}
.bg_f5_i{background:#f5f5f5!important;}
.bg_f6_i{background:#f6f6f6!important;}
.bg_f2_i{background:#f2f2f2!important;}
.bg_de_i{background:#dedede!important;}
.bg_red_i{background: #ff4343!important;}
.bg_f40_i{background: #f40!important;}
.bg_f7_i{background:#f7f7f7!important;}
.bg_fc_i{background:#fcfcfc!important;}
.bg_main_i{background: #ff5e54!important;}
.bg_green_i{background: #13ca87!important;}
.bg_light_i{background: #f2f6ff!important;}
.bg_body_i{background:#f7f8fc!important;}
.bg_tips_i{background: #fdc242!important;}
.bg_nan_i{background:#40afff!important;}
.bg_nv_i{background:#ff89b5!important;}
.bg_alipay_i{background:#40afff!important;}
.bg_vip_i{background:#fffbf5!important;}
.bg_span_i{background:#fafcff!important;}
.bgn_i{background: none!important;}
.bg_gao_i{background: #fcb63a!important;}
.bg_gray_i{background: #f2f6ff!important;}
.bg_tag_i{background: #f2f6ff!important;}
.bg_quan_i{background: #fff1f1!important;}



.bn{border: none;}
.bo_0{border:0;}
.bo_bf7{border-bottom: 1px solid #f7f7f7;}
.bo_beb{border-bottom: 1px solid #ebebeb;}
.bo_bdeb{border-bottom: 1px dashed #ebebeb;}
.bo_bf2{border-bottom: 1px solid #f2f2f2;}
.bo_bmain{border-bottom:1px solid #ff334c;}
.bo_tf7{border-top: 1px solid #f7f7f7;}
.bo_rf7{border-right: 1px solid #f7f7f7;}
.bo_eb{border: 1px solid #ebebeb;}
.bo_f7{border: 1px solid #f7f7f7;}
.bo_d9{border: 1px solid #d9d9d9;}
.bo_f{border:1px solid #fff;}
.bo_light{border:1px solid #edf3ff;}
.bo_red{border:1px solid #ff7453;}
.bo_main{border:1px solid #ff334c;}
.bo_nan{border:1px solid #40afff;}
.bo_nv{border:1px solid #ff89b5;}
.bo_right{border-right: 1px solid #f7f7f7;}
.bo_left{border-left: 1px solid #f7f7f7;}
.bo_2f{border:2px solid #fff;}
.bg_tran{background: rgba(0, 0, 0, 0.2);}
.bg_tran_5{background: rgba(0, 0, 0, 0.5);}
.bg_tran_7{background: rgba(0, 0, 0, 0.7);}


.op_0{opacity: 0;}
.op_2{opacity: 0.2;}
.op_4{opacity: 0.4;}
.op_8{opacity: 0.8;}

.fz0{font-size: 0;}
.fz10{font-size: 10px;}
.fz11{font-size: 11px;}
.fz12{font-size: 12px;}
.fz13{font-size: 13px;}
.fz14{font-size: 14px;}
.fz15{font-size: 15px;}
.fz16{font-size: 16px;}
.fz17{font-size: 17px;}
.fz18{font-size: 18px;}
.fz19{font-size: 19px;}
.fz20{font-size: 20px;}
.fz22{font-size: 22px;}
.fz24{font-size: 24px;}
.fz26{font-size: 26px;}
.fz28{font-size: 28px;}
.fz30{font-size: 30px;}
.fz32{font-size: 32px;}
.fz36{font-size: 36px;}
.fz40{font-size: 40px;}
.fz45{font-size: 45px;}
.fz48{font-size: 48px;}
.fz50{font-size: 50px;}
.fz60{font-size: 60px;}
.fz70{font-size: 70px;}
.fz75{font-size: 75px;}
.fz80{font-size: 80px;}

.fz0_i{font-size: 0!important;}
.fz10_i{font-size: 10px!important;}
.fz11_i{font-size: 11px!important;}
.fz12_i{font-size: 12px!important;}
.fz13_i{font-size: 13px!important;}
.fz14_i{font-size: 14px!important;}
.fz15_i{font-size: 15px!important;}
.fz16_i{font-size: 16px!important;}
.fz17_i{font-size: 17px!important;}
.fz18_i{font-size: 18px!important;}
.fz20_i{font-size: 20px!important;}
.fz22_i{font-size: 22px!important;}
.fz24_i{font-size: 24px!important;}
.fz26_i{font-size: 26px!important;}
.fz28_i{font-size: 28px!important;}
.fz30_i{font-size: 30px!important;}
.fz32_i{font-size: 32px!important;}
.fz36_i{font-size: 36px!important;}
.fz40_i{font-size: 40px!important;}
.fz45_i{font-size: 45px!important;}
.fz50_i{font-size: 50px!important;}
.fz60_i{font-size: 60px!important;}
.fz70_i{font-size: 70px!important;}
.fz75_i{font-size: 75px!important;}
.fz80_i{font-size: 80px!important;}

.img_5{width: 5px; height: 5px;}
.img_6{width: 6px; height: 6px;}
.img_10{width: 10px; height: 10px;}
.img_20{width: 20px; height: 20px;}
.img_24{width: 24px; height: 24px;}
.img_28{width: 28px; height: 28px;}
.img_30{width: 30px; height: 30px;}
.img_32{width: 32px; height: 32px;}
.img_35{width: 35px; height: 35px;}
.img_37{width: 37px; height: 37px;}
.img_40{width: 40px; height: 40px;}
.img_50{width: 50px; height: 50px;}
.img_45{width: 45px; height: 45px;}
.img_60{width: 60px; height: 60px;}
.img_65{width: 65px; height: 65px;}
.img_70{width: 70px; height: 70px;}
.img_80{width: 80px; height: 80px;}
.img_90{width: 90px; height: 90px;}
.img_100{width: 100px; height: 100px;}
.img_110{width: 110px; height: 110px;}
.img_120{width: 120px; height: 120px;}
.img_tao{width: 130px; height: 84px;}
.ob_c{width:100%;height:100%;object-fit:cover;}
.img_150{width: 150px; height: 150px;}


span,label,b,em,i{font-style:normal; display:inline-block;}
.inline_block{display:inline-block;vertical-align: top;}
.inline{display: inline;}
.block{display: block;}

.bright{border-radius: 0 75px 75px 0;}
.bleft{border-radius: 75px 0 0 75px;}
.br{border-radius: 13rem;}
.br2{border-radius: 2px;}
.br3{border-radius: 3px;}
.br4{border-radius: 4px;}
.br5{border-radius: 5px;}
.br8{border-radius: 8px;}
.br10{border-radius: 10px;}
.br12{border-radius: 12px;}
.br15{border-radius: 15px;}
.br30{border-radius: 30px;}
.br40{border-radius: 40px;}


.br50per{border-radius: 50%;}

.brt8{border-radius: 8px 8px 0 0;}

.ws{white-space: nowrap; text-overflow: ellipsis; overflow:hidden;}
.vam{vertical-align:middle;}
.vat{vertical-align: top;}
.vaba{vertical-align: baseline;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.bsb{box-sizing:border-box;}
.bg{background: url(../images/ico.png) no-repeat;}
.cursor{cursor: pointer;}
.bsd{box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.02);}
ul,li,dl,dt,dd{font-style: none; padding:0px; margin: 0px; list-style:none; }
.hover:hover{opacity: 0.9;}

/* 2020-06-17  验证码 */
.oe_tuma{position:fixed; left:0px; right:0px; top:0px; bottom:0px; z-index:2000;}
.oe_tuma .box{border:1px solid #ebebeb; background:#fff; width:400px; height:280px; position:absolute; left:50%; top:50%; margin-left:-201px; margin-top:-141px; border-radius:8px; overflow:hidden; box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);}
.oe_tuma .box .hd{position:relative; padding:0px 10px; line-height:50px; border-bottom:1px solid #ebebeb;}
.oe_tuma .box .hd b{display:inline-block; width:130px; vertical-align:middle; margin-top:-4px;}
.oe_tuma .box .hd span{cursor:pointer;}
.oe_tuma .box .hd label.close{display:inline-block; display:inline-block; cursor:pointer; position:absolute; right:0px; top:0px; padding:0px 10px;}
.oe_tuma .box .hd label.close:hover{color:#f40;}
.oe_tuma .box .bd{padding:10px; box-sizing:border-box; position:relative;}
.oe_tuma .box .bd img.loading{position:absolute; left:192px; top:105px;}
.oe_tuma .box .bd ul li{width:95px;  height:95px; float:left; margin-top:5px; box-sizing:border-box; padding:3px; border:2px solid transparent; cursor:pointer; position:relative;}
.oe_tuma .box .bd ul li img{width:100%;}
.oe_tuma .box .bd ul li img.ico{width:23px; height:27px; position:absolute; left:50%; top:50%; margin-left:-11.5px; margin-top:-13.5px; display:none;}
.oe_tuma .box .bd ul li.current{border:2px solid #f40;}
.oe_tuma .box .bd ul li.current img.ico{display:inline-block;}
.oe_tuma .box .tips{line-height:35px; text-align:center; background:rgba(233,105,79,0.8); font-weight:bold; color:#fff; position:absolute; left:0px; right:0px; bottom:0px; font-size:15px;}
.oe_tuma .box .zhao{position:absolute; left:0px; top:50px; right:0px; bottom:0px; z-index:3;}
